 {{#spreadsheet 'head'}}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/css/jqueryui-editable.css" rel="stylesheet"/>
  <link href="https://use.fontawesome.com/releases/v5.0.0/css/all.css" rel="stylesheet">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/js/jqueryui-editable.min.js" defer></script>
  <script src="/assets/js/spreadsheets.js" defer></script>
 {{/spreadsheet}}
 {{> nav }}
  <div class="container" id="spreadsheets-container">

    <div class="row">
      <div class="col-12">
        <h3 id="spread_title">Spreadsheets</h3>
      </div>
      <div>
        <div class="col-12">
          <h4 id="spread_sub">Import/Export spreadsheets</h4>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" id="spread_row1">
      <div class="col-5">
        <div class="text-center" id="file_uploader">
          <form id="excelForm" role="form" class="form">
            <div class="form-group">
              <h5>Choose any Microsoft Excel (.xlsx) file to import:</h5>
              <input id="excelFile" type="file" name="excelFile" class="form-control" accept=".xlsx">
            </div>
            <button type="submit" class="btn btn-primary" id="upload">Upload</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-11">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Imported</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Exported</a>
          </li>
        </ul>
      </div>
      <table class="table table-striped">
        <thead class="primary">
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Records</th>
            <th scope="col">Filename</th>
            <th scope="col">Upload Time</th>
            <th scope="col">Process</th>
            <th scope="col">JSON</th>
            <th scope="col">Download</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
			{{#each files as |file index|}}
				<tr>
					<th scope="row">{{fileIndex @index}}</th>
					<td>{{recordsCount}}</td>
					<td>{{fileName}}</td>
					<td>{{creationTime}}</td>
					<td class="text-center"><button class="btn btn-outline-primary processBtn"  data-jsonPath="{{jsonPath}}"><i class="fas fa-server"></i></button></td>
					<td class="text-center"><a href="/download/json/{{fileName}}.json" target="_blank"><button class="btn btn-outline-primary"><i class="fas fa-file"></i></button></a></td>
					<td class="text-center"><a href="/download/xlsx/{{fileName}}" target="_blank"><button class="btn btn-outline-primary"><i class="fas fa-download"></i></button></a></td>
					<td class="text-center"><button class="btn btn-outline-primary deleteBtn" data-fileName="{{fileName}}"><i class="fas fa-trash-alt"></i></button></td>
				</tr>
			{{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal fade" id="outputModal" tabindex="-1" role="dialog" aria-labelledby="outputModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="outputModalTitle">Result</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <p id="statusCode"></p>
            </div>
            <hr>
            <div class="col-12">
              <p id="message"></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="modal-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

